<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()">
  <div class="form-group">
    <input class="form-control" placeholder="Nome do usuário" [(ngModel)]="usuario" name="usuario"/>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="senha" name="senha"/>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>
